@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}


/* #id_captcha {
    display: inline-block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
} */

.text-xs-center {
    text-align: center;
}

.g-recaptcha {
    margin: 30px auto !important;
    width: auto !important;
    height: auto !important;
    text-align: -webkit-center;
    text-align: -moz-center;
    text-align: -o-center;
    text-align: -ms-center;
}

.alerta {
    display: block;
    box-shadow: 1px 1px 5px black;
    margin: 10px auto;
    width: 70%;
}

.alerta p {
    font-weight: bolder;
    font-size: 10pt;
}

.reg-form {
    display: block;
    background-color: #ffffff;
    box-shadow: 1px 1px 5px black;
    margin: 100px auto;
    padding: 40px;
    width: 40%;
}
.reg-form input[type=submit] {
    display: block;
	margin: 30px auto;
	padding: 0;
	width: 125px;
	height: 35px;
	border: 2px solid #1ECD97;
	border-radius: 40px;
	background: transparent;
	color: #1ECD97;
	letter-spacing: 1px;
	font-size: 18px;
    transition: background-color 0.3s, color 0.3s, width 0.3s, border-width 0.3s, border-color 0.3s;

}

.reg-form input[type="submit"]:hover {
    background-color: #1ECD97;
	color: #fff;
}

.reg-form input[type="submit"]:focus {
    background-color: #1ECD97;
	color: #fff;
}

.footer {
    position: fixed;
    bottom:0;
    left:0;
}